.cityNav {
    color: white;
    padding-right: 5%;
}

a:hover {
    background-color: red;
}

.headerContent {
    text-align: center;
    padding-top: 10%;
    position: absolute;
}

.mainWrapper {
    float: left; /* Float the mainWrapper to the left */
    width: calc(100% - 600px); /* Adjust the width to accommodate the image */
    margin-right: 20px; /* Add some margin to separate it from the image */
    position: relative; /* Apply relative positioning */
    justify-content: center;
    display: flex;
    align-items: flex-start;
}

.mainContent {
    padding-top: 5%;
    
}



.imgWrapper {
    max-width: 600px;
    max-height: 400px;
    margin: 0 auto; /* Center the image horizontally */
    text-align: center; /* Center the image */
    
}

#Alcoholism{
    font-family: fantasy;
}

.imgWrapper {
    max-width: 50%; /* Adjust the maximum width to 50% of the viewport width */
    max-height: 150vh; /* Set the maximum height to 100% of the viewport height */
    margin: 0 auto; /* Center the image horizontally */
    text-align: center; /* Center the image */
    overflow: hidden; /* Hide any overflow to maintain aspect ratio */
}

.imgWrapper img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
}


.mainContent {
    width: 60%; /* Set the width of the main content */
    padding-right: 20px; /* Add padding to the right side */
    padding-top: 5%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: justify;
    max-width: 100%; /* Change to 100% to make it more responsive */
}

.altContent {
    width: 30%; /* Set the width of altContent to 30% */
    padding-top: 5%;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    text-align: justify;
    max-width: 100%; /* Change to 100% to make it more responsive */
}

h1{
    text-align: center;
}

.contentWrapper {
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center children horizontally */
}

.emailWrapper{
    text-align: center;
}

